
@keyframes slide {
    from {
       left: 50%;
     }
     to {left: 0%}
   }
   @keyframes ring2 {
    from {
       left: 55%;
     }
     to {left: 0%}
   }
   @keyframes ring3 {
    from {
       left: 60%;
     }
     to {left: 0%}
   }
   @keyframes ring4 {
    from {
       left: 65%;
     }
     to {left: 0%}
   }
   .container {
     display: flex;
     background: #000;
     border-radius: 6px;
     height: 150px;
     position: relative;
     min-width: 538px;
   }
   .ring {
     border: 3px solid #fff;
     border-radius: 50%;
     height: 50px;
     position: relative;
     width: 50px;
     animation: slide 2s linear;
     margin: 1rem;
   }
   
   .audi2 {
     border: 3px solid #fff;
     animation: ring2 2s linear;
     margin-left: -2rem;
   }
   .audi3 {
     border: 3px solid #fff;
     animation: ring3 2s linear;
     margin-left: -2rem;
   }
   .audi4 {
     border: 3px solid #fff;
     animation: ring4 2s linear;
     margin-left: -2rem;
   }
   .MuiStepIcon-text {
    fill: transparent;
    color: #000;
    background: #fff;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: transparent;
}
